<form [formGroup] = "shipForm">
    <h2> Contact Information </h2> 
    <div class="row g-3"> 
     <div class="col-sm-6">
         <label for="name">First Name: </label> <br/>
         <input formControlName="firstName" type="text" id="firstName">
     </div>
 
     <div class="col-sm-6">
         <label for="name">Last Name: </label> <br/>
         <input formControlName="lastName" type="text" id="lastName">
     </div>
 
     <div class="col-sm-6">
         <label for="name">Mobile No.: </label> <br/>
         <input formControlName="phoneNo" type="text" id="phoneNo">
     </div>
    </div>
 
    <h2> Shipping Information </h2> 
    <div class="row g-3"> 
     <div class="col-sm-6">
         <input type="text" formControlName="province" placeholder="Province" type="text" id="province">
     </div>
 
     <div class="col-sm-6">
         <input formControlName="city" placeholder="City" type="text" id="city">
     </div>
 
     <div class="col-sm-6">
         <input formControlName="postalCode" placeholder="Postal code" type="text" id="postalCode">
     </div>
 
     <div class="col-sm-6">
         <input formControlName="barangay" placeholder="Barangay" type="text" id="barangay">
     </div>
 
     <div class="col-sm-6">
         <input formControlName="street" placeholder="Street Name, Building House No." type="text" id="street">
     </div>
    <button (click)="saveData()" class ="btn btn-success" >Submit</button>
 </div>  
 
 </form>
 