<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<header>
  <nav class="navbar navbar-custom fixed bg-pink-100 z-10">
    <div class="navbar-brand.align-item-center flex">
      <a class="navbar-brand" href="#">
        <img
          src="https://i.ibb.co/CtKzT46/Shoppink-4-removebg-preview.png"
          class="d-inline-block align-top w-32"
          alt=""
      /></a>

      <div class="py-4">
          <input
          type="text"
          class=" border-orange-400 border-2 rounded-2xl px-2"
          placeholder="nescafe 3-in-1"
          #searchItem
        />
        <!--   style="font-size: 24px; color: orange" -->
        <i
          class="fa fa-lg fa-search text-orange-400"
          (clicked)="search(searchItem.value)"
        ></i>
      </div>
    </div>
    <div fxShow="true" fxHide.lt-md="true" class="flex ">

      
     
  
      <div class="py-2.5">
        <mat-slide-toggle (click)="toggleDarkTheme()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-orange-400">
          <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd" />
        </svg>
        </mat-slide-toggle>
      </div>  
  
      <div>
        <button routerLink="cart" class="btn">
          <i class="fa fa-2x fa-shopping-cart text-orange-400 hover:text-orange-600"></i>
          <div class="badge bg-white text-orange-400">
            {{ totalItem }}
          </div>
        </button>
      </div>
      <div>
        <button routerLink="profile" class="btn">
          <i class="fa fa-2x fa-solid fa-user text-orange-400 hover:text-orange-600"></i>
        </button>
      </div>
  

    </div>
   
   

  </nav>
</header> 

<!-- <div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Responsive Navigation</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a href="#" mat-button>
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a href="#" mat-button>
          <mat-icon>message</mat-icon>
          Messages
        </a>
        <a href="#" mat-button>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div> -->
  <!-- <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav position="end">
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a href="#" mat-list-item>
          <mat-icon>message</mat-icon>
          Messages</a>
        <a href="#" mat-list-item>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a href="#" mat-list-item>
          <mat-icon>lock</mat-icon>
          My Account
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container> 
</div>-->