
 <link rel="stylesheet" href=
 "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <header>
    <nav class="navbar navbar-custom">
        <div class="navbar-brand.align-item-center d-flex">
            <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/VDpBTxn/Shoppink-1-removebg-preview.png"
                     class="d-inline-block align-top" alt=""></a>
        
        <div class="form-group pt-2">
            <input type="text" class="form-control" placeholder="Search products"  #searchItem>
            <i class="fa fa-search search-icon" style="font-size:36px; color: orange;" (clicked)="search(searchItem.value)"></i>
        </div>

        
        
        </div>
        <button routerLink="cart" class="btn hover:bg-pink-100">
            <i style="font-size: 40px;" class="fa fa-cart-plus text-orange-500"></i>
            <div style="font-size: 10px;" class="badge bg-white text-orange-500">{{totalItem}}</div>
        </button>

        
    </nav>
</header>