.form-control {
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
  margin-top: 10px;
}
.navbar-custom {
  position: fixed;
  width: 100%;
}
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 40vw;

}

// .search-icon {
//   position: absolute;
//   z-index: 10;
//   right: 36%;
//   top: 28%;
//   color: #fcb45b;
// }

// img {
//   width: 120px;
//   margin: 0px;
// }


  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  button{
    width: 20%;
  }
  .py-4{
    margin-left: 10px;
  }