


.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
}
.navbar-custom {
    //background-color: rgb(10, 231, 251);
    //background-color: #020c30;
    background-color: #edc2df ;
}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 38%;
    top: 40%;
    //color: #f62aa0;
    color: #e37036 
}
.btn-custom{
    //color: #f62aa0;
    color: #e37036
}
.bg-custom{
    background-color: lightslategrey;
}