
 <link rel="stylesheet" href=
 "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <header>
    <nav class="navbar navbar-custom">
        <div class="navbar-brand.align-item-center d-flex">
            <a class="navbar-brand" href="#">
                <img src="../../../../favicon.ico"
                    width="30" height="30" class="d-inline-block align-top" alt=""></a>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search products">
        </div>
        <span class="fa fa-search search-icon"></span>
        </div>

        <button routerLink="cart" class="btn btn-custom">
            <i style="font-size: 40px;" class="fa fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-custom">{{totalItem}}</div>
        </button>
    </nav>
</header>