


<div class="pt-28 m-auto w-11/12 border">
    <div class="row">
        <button (click)="userList()" >
        <div class="column" style="background-color:#aaa;">
          <h2>Users</h2>
        </div>
        </button>

        <button (click)="productList()">
            <div class="column" style="background-color:#bbb;">
          <h2>Products</h2>
        </div>
    </button>
        <button (click)="dashBoard()">
            <div class="column" style="background-color:#ccc;">
          <h2>Dashboard</h2>
        
        </div>
    </button>
      </div>

</div>