.card{
    padding: 10px;
    margin: 10px;
    width: 100vw;
    border: 2px inset coral;
    margin: auto;
    // ms camille lagay mo na lang yan sa div class p-10 m-10 w-100 border border-2 
    // sa html sir?
}
.card-title{
    color: rgb(16, 17, 17);
    font-weight: bolder;
    text-align: center;
}

.btn{
    margin-left: 82%;
    width: 15vw;
    height: 45px;
    font-size: larger;
    font-weight: bolder;
}
table{
    text-align: right;
    width: 90%;
}
th{
    width: 20%;
}
.card-total{
    text-align: right;
}
button{
     width: 100%;
     background-color: rgb(253, 158, 120);
     
}
input[type=text] {
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(75, 73, 73);
}
label{
    font-weight: bold;
}
p{
    color: darkcyan;
}
h1{
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0;
    font-size: 40px;
}
