<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<div class="pt-10">
    <div class="container">
    <form [formGroup]="addUsers">
        <h1 class="pt-7">ADD USER</h1>
        <div class="icon">
          <i class="fas fa-user-circle fa-sm"></i>
        </div>
        <div class="formcontainer">
        <div class="container">
       
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input type="text" formControlName="firstName" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['firstName'].dirty && addUsers.hasError('required', 'firstName')">
              *First Name is required!</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Middle Name</label>
              <input type="text" formControlName="middleName" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['lastName'].dirty && addUsers.hasError('required', 'lastName')">
              *Last Name is required!</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['email'].dirty && addUsers.hasError('required', 'email')">
              Email is required!</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" formControlName="password" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['userName'].dirty && addUsers.hasError('required', 'userName')">
              *Username is required!</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="text" formControlName="password" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['password'].dirty && addUsers.hasError('required', 'password')">
              *Password is required!</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input type="text" formControlName="confirmPassword" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['confirmPassword'].dirty && addUsers.hasError('required', 'confirmPassword')">
              *Password is required!</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Mobile Number</label>
              <input type="number" formControlName="mobile" class="form-control">
              <span class="text-danger"
              *ngIf="addUsers.controls['mobile'].dirty && addUsers.hasError('required', 'mobile')">
              *Mobile Number is required!</span>
            </div>
            <button (click)="submit()" type="submit"><strong>Create Account</strong></button>
        </div>
      </div>
    </form>
  </div>
</div>
