h2{
    text-align: end;
}
h1{
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0;
    font-size: 40px;
}
button{
    margin-left: 20%;
    background-color: rgb(253, 158, 120);;
}