<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<div class="pt-10">
    <div class="container">
    <form [formGroup]="addProducts">
        <h1 class="pt-7">ADD PRODUCT</h1>
        <div class="icon">
          <i class="fas fa-user-circle fa-sm"></i>
        </div>
        <div class="formcontainer">
        <div class="container">
            <label class=" control-label" for="productName">Product Name</label>  
            <input formControlName="productName" type="text" id="productName" placeholder="PRODUCT NAME" class="form-control" required>
              <span class="text-danger"
                  *ngIf="addProducts.controls['productName'].dirty && addProducts.hasError('required', 'productName')">
                  *Product name is required!
              </span><br>
          
            <label class="control-label" for="productCategory">PRODUCT CATEGORY</label>
            <input formControlName="productCategory" id="productCategory" type="text" placeholder="PRODUCT CATEGORY" class="form-control" required="" type="text">
              <span class="text-danger"
                  *ngIf="addProducts.controls['productCategory'].dirty && addProducts.hasError('required', 'productCategory')">
                  *Product category is required!
              </span><br>
          
            <label class="control-label" for="productPrice">PRODUCT PRICE</label>  
            <input formControlName="productPrice" type="text" id="productPrice"  placeholder="PRODUCT PRICE" class="form-control input-md" required="" type="text">
              <span class="text-danger"
                  *ngIf="addProducts.controls['productPrice'].dirty && addProducts.hasError('required', 'productPrice')">
                  *Product price is required!
              </span><br>
                  
            <label class="control-label" for="productPrice">PRODUCT QUANTITY</label>  
            <input formControlName="productQuantity" type="text" id="productQuantity"  placeholder="PRODUCT PRICE" class="form-control input-md" required="" type="text">
              <span class="text-danger"
                  *ngIf="addProducts.controls['productQuantity'].dirty && addProducts.hasError('required', 'productQuantity')">
                    *Product quantity is required!
              </span><br>
        
            <label class="control-label" for="productImgUrl">Image Link: </label>
            <input formControlName="productImgUrl" type="text" id="productImgUrl" placeholder="IMAGE LINK" class="form-control input-md" required="" type="text">
              <span class="text-danger"
                  *ngIf="addProducts.controls['productImgUrl'].dirty && addProducts.hasError('required', 'productImgUrl')">
                  *Product image link is required!
              </span><br>
        </div>
        <button [disabled]="!productName || !productPrice" (click)="submit()" type="submit"><strong>Upload Product</strong></button>
        </div>
      </form>
    </div>
</div>

