<div class="pt-28">
    <h1 class="card-title"> 
        <button class="btn-icon" routerLink="/checkout" class="fa fa-angle-left fa-2x"></button>
         Address Selection
    </h1>
<div class="card">
    <ul *ngFor="let data of shipping">
            <input type="radio" name="radio" (click)="sendData(data)">
        <app-shipping-item [ship]="data"></app-shipping-item> 
    </ul>
</div>

<button routerLink="/ship"> Add New Adress</button>
</div>


<!-- <div id="selectedShip" *ngIf = "selectedShip">
    <h2> {{selectedShip.firstName}}, {{selectedShip.lastName}}</h2>
    <p> {{selectedShip.phoneNo}}<br></p>
</div>
</div> -->