<ng-container *ngIf="products.length != 0" >
    <div class="container">
    <div class="pt-28">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th></th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let prod of products">
                            <td><strong>{{prod.productName}}</strong></td>
                            <td><img style="width: 100vw;" src="{{prod.productImgUrl}}"></td>
                            <td>{{prod.productDescription}}</td>
                            <td><strong>{{prod.productPrice}}</strong></td>
                            <td>
                                <div class="content">
                                    <button  type="button" class="btn hover:bg-orange-700"><i class="fa fa-plus text-white "></i></button>
                                        <span>{{prod.quantity}}</span>
                                        <button type="button" class="btn hover:bg-orange-700"><i class="fa fa-minus text-white "></i></button>
                                </div>
                            </td>
                            <td>{{prod.total}}</td>
                            <td>
                                <button (click)="removeItem(prod)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td> 
                                <button routerLink="/checkout" class ="btn btn-success">Checkout</button>
                            </td>
                            <td> 
                                <strong> Total : ${{total}} </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="products.length === 0">
<div class="container">
    <div class="pt-28">
    <div class="card">
        <h3> Shopping Cart </h3>
    </div>
    <div class="center">
        <img src="https://cdni.iconscout.com/illustration/free/thumb/empty-cart-4085814-3385483.png">
        <h4> Oh no! My cart is empty!</h4>
        <button routerLink="/dashboard" class="btn btn-primary"> Shop Now </button>
    </div>
</div>
</div>
</ng-container>

