<ng-container *ngIf="products.length != 0" >
    <section class="h-100 pt-28" style="background-color: #eee;">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h1>Shopping Cart</h1>
              </div>

            <!-- Cart-List -->
              <div *ngFor="let prod of products | filter:searchItem">
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <img style="width: 10vw;" src="{{prod.productImgUrl}}">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h3 class="lead fw-normal mb-2"><strong>{{prod.productName}}</strong></h3>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                            <button  type="button" class="btn hover:bg-orange-700 mr-3" (click)="incrementQty(prod)"><i class="fa fa-plus text-white "></i></button>
                            <span>{{prod.productQuantity}}</span>
                            <button type="button" class="btn hover:bg-orange-700 ml-3" (click)="decrementQty(prod)"><i class="fa fa-minus text-white "></i></button>
                          
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h3 class="mb-0">&#8369; {{prod.productPrice * prod.productQuantity}}</h3>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <button (click)="removeItem(prod)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <!-- Total Cart item Price -->
              <div class="card mb-4">
                <div class="card-body p-4 d-flex flex-row">
                  <div class="form-outline flex-fill">
                    <h2><strong>Total: &#8369; {{total}}</strong></h2>
                  </div>
                </div>
              </div>
              
              <!-- Checkout -->
              <div class="card">
                <div class="card-body">
                  <button routerLink="/checkout" type="button" class="btn btn-warning btn-block btn-lg">Checkout</button>
                </div>
              </div>

            </div>
          </div>
          
        </div>
         <!-- if Cart is empty -->
         
    </section>
</ng-container>
<div *ngIf="products.length === 0">
  <div class="center pt-28">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Shopping Cart</h1>
    </div>
      <img src="https://cdni.iconscout.com/illustration/free/thumb/empty-cart-4085814-3385483.png">
      <h4> Oh no! My cart is empty!</h4>
      <button routerLink="/dashboard" class="btn btn-primary"> Shop Now </button>
  </div>
</div>

